{
  "name": "{{ data['name'] }}",
  "author": ["Shane#0816"],
  "short": "Carl's {{ data['name'] }} Module.",
  "description": "Carl's {{ data['name'] }} Module.",
  "install_msg": "Get started with `[p]{{ data['name'] }}`",
  "end_user_data_statement": "Caveat Emptor.",
  "tags": ["wip"],
  "requirements": [],
  "permissions" : [],
  "required_cogs": {},
  "min_bot_version": "3.5.0",
  "min_python_version" : [3,8,0],
  "disabled": false,
  "hidden": true,
  "type": "COG"
}
